@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --danger-color: #ff4444;
    --dangerr-color-dark: #CC0000;
    --warning-color: #ffbb33;
    --warning-color-dark: #FF8800;
    --success-color: #00C851;
    --success-color-dark: #007E33;
    --info-color: #33b5e5;
    --info-color-dark: #0099CC;
    --default-color: #2BBBAD;
    --default-color-dark: #00695c;
    --primary-color: #4285F4;
    --primary-color-dark: #0d47a1;
    --secondary-color: #aa66cc;
    --secondary-color-dark: #9933CC;
}

/* HEADER */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav div:first-child {
    margin-left: 3%;
    cursor: pointer;
}

header nav div:last-child {
    margin-right: 3%;
    position: relative;
    cursor: pointer;
}

header nav div:last-child span {
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -5px;
    background-color: var(--warning-color);
    padding: 2px;
    font-size: .7rem;
    border-radius: 4px;
    color: #fff;
}

header section {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, .5);
    width: 80%;
    text-align: center;
    color: #000;
    border-radius: 5px;
    padding: 2%;
}

header section h1 {
    text-transform: uppercase;
    padding: 3%;
}

header section button {
    background-color: var(--warning-color);
    border: 2px solid var(--warning-color);
    text-transform: uppercase;
    padding: 5%;
    color: #fff;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
}

header section button:hover {
    background-color: transparent;
    color: var(--warning-color);
}

/* END HEADER */
/* MAIN */

#cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    min-height: 100vh;
    background-color: #ccc;
    z-index: 2;
    transform: translateX(100%);
    transition: all .3s linear;
    display: none;
}

.show-cart {
    display: block !important;
    transform: translateX(0) !important;
}

/* END MAIN */